---
import { getCollection } from "astro:content";

const episodes = await getCollection("episodes");
---

<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>JSer.info を語りたい</title>
		<meta
			name="description"
			content="「JSer.info を語りたい」は、JSer.info で紹介されている各情報について、NotebookLM を用いて深堀りして語るポッドキャスト番組です。"
		/>
	</head>
	<body>
		<h1>JSer.info を語りたい</h1>
		<ul>
			{
				episodes.map((episode) => (
					<li>
						<a href={`/episode/${episode.data.id}/`}>
							{episode.data.id}. {episode.data.created} の JSer.info
						</a>
					</li>
				))
			}
		</ul>
	</body>
</html>
